:root {
    /* colors */
    --main-color: #1f2937;
    --button-color: #3882f6;
    --quote-section-bgcolor: #e5e7eb;
    --text-color: #f9faf8;
    /* fonts */
    --main-text: 48px extra-bold var(--text-color);
    --secondary-text: 18px var(--quote-section-bgcolor);
    --header-logo-text: 24px var(--text-color);
    --info-header-text: 36px extra-bold #1f2937;
    --quote-text: 36px light italic #1f2937;
}
body {
    margin: 0;
    font: var(--main-text);
    font-family: 'Roboto', sans-serif;
    color: var(--text-color);
}

header {
    background-color: var(--main-color);
    justify-content: space-around;
    font-size: 18px;
    color: var(--quote-section-bgcolor);
}
.header-logo {
    width: 100px;
}
.header-links {
}
.header-links li {
    display: inline;
}

main {
    background-color: var(--main-color);
    font: var(--main-text);
}
section {

}
footer {
    flex: 1;
    background-color: var(--main-color);
    text-align: center;
}
.flex {
    display: flex;
}
.big-boy {
    height: max-content;
    flex-direction: column;
}