:root {
    /* colors */
    --main-color: #1f2937;
    --button-color: #3882f6;
    --quote-section-bgcolor: #e5e7eb;
    --text-color: #f9faf8;
    --text-color-dark: #1f2937;
    /* fonts */
    --main-text: 48px extra-bold var(--text-color);
    --secondary-text: 18px var(--quote-section-bgcolor);
    --header-logo-text: 24px var(--text-color);
    --info-header-text: 36px extra-bold #1f2937;
    --quote-text: 36px light italic #1f2937;
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 1.125rem;
    font-weight: 400;
    color: var(--text-color);
}
.big-boy {
    flex-direction: column;
}

.flex {
    display: flex;
}
.contain {
    width: 80%;
}
button {
    background-color: var(--button-color);
    border: none;
    border-radius: 5px;
    width: 11ch;
    height: 3ch;
    color: var(--text-color);
}

header {
    background-color: var(--main-color);
    justify-content: center;
    font-size: 1.125rem;
    color: var(--quote-section-bgcolor);
}
header .contain {
    justify-content: space-between;
}
.header-logo {
    width: 100px;
}
.header-links {
}
.header-links li {
    display: inline;
}

main {
    background-color: var(--main-color);
    justify-content: center;
}
.main-image {
    width: 600px;
}
.text-box {
    margin-right: 5%;
}
main h1, main p {
    margin: 0;
}
main h1 {
    font-size: 3rem;
}
main p {
    font-size: 1.125rem;
}

section {
    justify-content: center;
    color: var(--main-color);
    text-align: center;
}
.cards {
    justify-content: center;
}
.cards li {
    display: inline;
    margin: 0 1em;
    width: 10em;
}
.cards img {
    border: 0.5ch solid var(--button-color);
    border-radius: 1rem;
    width: 10em;
}

.quote-container {
    background-color: var(--quote-section-bgcolor);
}
.quote-container-container {
    margin: 2em;
    max-width: 45ch;
    text-align: start;
    font-style: italic;
    font-size: 1.75rem;
}
.quote-container-container p {
    margin: 0;
}
.quote-author {
    text-align: end;
    font-style: normal;
    font-size: 1.25rem;
    font-weight: 900;
    color: var(--text-color-dark);
}
footer {
    flex: 1;
    background-color: var(--main-color);
    text-align: center;
}